img {
  border-radius: 10px;
  width: 100px;
}

h2 {
  font-size: 18px;
}

body {
  background: linear-gradient(slateblue, maroon);
  font-family: "Trebuchet MS";
  color: whitesmoke;
}

a {
  background-color: white;
  font-size: 20px;
  border-radius: 10px;
  padding: 10px;
  display: block;
  text-align: center;
  margin: 10px;
  color: slateblue;
}
